{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TheTrueCostOfCoal</title>
     <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css" />
     <link rel="stylesheet" href="{% static "css/L.Control.MousePosition.css" %}" />
     <link rel="stylesheet" href="{% static "css/main.css" %}" />

     <script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js"></script>
     <script src="{% static "js/L.Control.MousePosition.js" %}"></script>
</head>
<body>
     <div id="mapid"></div>
    <script src="{% static "js/main.js"%}"></script>
</body>

</html>